*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: Poppins;
}
.loan{
    margin-top: 150px;
    margin-bottom: 100px;
}
.coroend{
    margin-top: 150px;
    border-radius: 20px;
}
.imgSrc{
    margin-left: 40px;
}
.comming_container{
    width: 100vw;
    height: 100vh;
    background-image: url("../../../public/img/mohit.jpg ");
    position: relative;
}
.contant_first{
    margin-top: 250px;
    margin-left: 150px;
}

.lunching_para{
    color: white;
}

.lunching_heading{
    color: white;
    font-size: 50px;
    font-weight: 700;
}

.lunching_days{
    color: white;
}
.lunch_time{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rocket{
    width: 100px;
    height: 100px;
    position: absolute;
    right: 10%;
    bottom: 0;
    animation: rocket 4s linear infinite;
}
.contant{
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
@keyframes rocket{
    0%{
        bottom: 0;
        opacity: 0;
    }
    100%{
        bottom: 105%;
        opacity: 1;
    }
}
.nav{
    width: 1250px;
    margin: auto;
}
