*{
    margin: 0px;
    padding: 0px;
}
.firstChild{
    width: 80%;
    margin:  auto;
    text-align: start;
    margin-top: 20px;
    background-color: rgb(230, 162, 162);
}

.second, .Third{
    border: 1px solid gray;
    padding: 10px;
    font-size: 20px;
    margin-bottom: 30px;
}
.third{
    text-align: center;
}
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000; /* Adjust z-index to make the modal appear above other elements */
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    position: relative;
    min-width: 300px;
    max-width: 500px;
    z-index: 1001; /* Ensure modal content appears above overlay */
}

.modal-close {
    position: absolute;
    top: 10px;
    right: 10px;
    background: none;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
}

.pupup{
    width: 400px;
    display: flex;
    justify-content: space-around;
}
.olo{
    width: 400px;
    text-align: center  ;
}
table {
    width: 100%;
      border-collapse: collapse;
      /* width: 90vw; */
      /* margin: auto; */
      margin-top: 20px;
    }
    
    th, td {
      padding: 8px;
      text-align: center;
      border-bottom: 1px solid #ddd;
      font-family: Poppins;
      font-size: 14px;
    }
.tabu{
    margin-top: 100px;
}