table {
    border-collapse: collapse;
    width: 90vw;
    margin: auto;
  }
  
  th, td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd;
    font-family: Poppins;
    font-size: 14px;
  }
  .input{
    border: none;
    outline: none;
    padding: 5px;
  }
.inut{
  border: 2px solid gray;
  width: 250px;
  display: flex;
  justify-content: space-between;
  border-radius: 5px;
}
.inut:hover{
  border-color: royalblue;
}
.btn1{
  background-color: white;
  border: none;
}
form{
  width: 280px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}
.fa-whatsapp{
  font-size: 17px;
  color: green;
}